---
import BlogRollItem from './blogroll-item.astro';

import { getCollection } from 'astro:content';

const blogRollCollection = await getCollection('blogRolls');

const { category = '' } = Astro.props;

const selectedBlogs = category !== '' ? blogRollCollection.filter(item => item.data.category == category) : blogRollCollection;
     
---
<div class="blogroll-feed"> 
    {
    selectedBlogs.map( blog => <BlogRollItem item={blog.data}/> )
    }
</div>
