---
interface Props {
    category?: string;
    length?: number;
};

import BlogRollItem from './blogroll-item.astro';

import { getCollection } from 'astro:content';

const blogRollCollection = await getCollection('blogRolls');

const { category = '', length = 0 } = Astro.props;

const selectedBlogsByCategory = category !== '' ? blogRollCollection.filter(item => item.data.category === category) : blogRollCollection;

const blogRollLength =  (Number.isInteger(length) && length > 0 ) ? length : 0;

const selectedBlogs = blogRollLength === 0 ? selectedBlogsByCategory : selectedBlogsByCategory.slice(0, blogRollLength);
---
<div class="blogroll-feed"> 
    {
    selectedBlogs.map( blog => <BlogRollItem item={blog.data}/> )
    }
</div>
