:root {
  /* Background Definition */
  --color-background: #FFFFFF;
  
  /* Pimary Definition */
  --color-primary-chroma: 0.0345;
  --color-primary-hue: 260;

  --color-primary: oklch(55% var(--color-primary-chroma) var(--color-primary-hue));

  --color-primary-lighter: oklch(90% calc(1 * var(--color-primary-chroma)) var(--color-primary-hue));
  --color-primary-light: oklch(70% calc(1 * var(--color-primary-chroma)) var(--color-primary-hue));
  --color-primary-dark: oklch(40% calc(1 * var(--color-primary-chroma)) var(--color-primary-hue));
  --color-primary-darker: oklch(25% calc(1 * var(--color-primary-chroma)) var(--color-primary-hue));

  /* Secondary Definition */
  --color-secondary-chroma: 0.1249;
  --color-secondary-hue: 227.69;

  --color-secondary: oklch(55% var(--color-secondary-chroma) var(--color-secondary-hue));

  --color-secondary-lighter: oklch(90% calc(1 * var(--color-secondary-chroma)) var(--color-secondary-hue));
  --color-secondary-light: oklch(70% calc(1 * var(--color-secondary-chroma)) var(--color-secondary-hue));
  --color-secondary-dark: oklch(40% calc(1 * var(--color-secondary-chroma)) var(--color-secondary-hue));
  --color-secondary-darker: oklch(25% calc(1 * var(--color-secondary-chroma)) var(--color-secondary-hue));

  /* Alert Definition */
  --color-alert-chroma: 0.0949;
  --color-alert-hue: 11.37;

  --color-alert: oklch(55% var(--color-alert-chroma) var(--color-alert-hue));

  --color-alert-lighter: oklch(90% calc(1 * var(--color-alert-chroma)) var(--color-alert-hue));
  --color-alert-light: oklch(70% calc(1 * var(--color-alert-chroma)) var(--color-alert-hue));
  --color-alert-dark: oklch(40% calc(1 * var(--color-alert-chroma)) var(--color-alert-hue));
  --color-alert-darker: oklch(25% calc(1 * var(--color-alert-chroma)) var(--color-alert-hue));

  /* Highlight Definition */
  --color-highlight-chroma: 0.1922;
  --color-highlight-hue: 106.77;

  --color-highlight: oklch(55% var(--color-highlight-chroma) var(--color-highlight-hue));

  --color-highlight-lighter: oklch(97% calc(1 * var(--color-highlight-chroma)) var(--color-highlight-hue));
  --color-highlight-light: oklch(70% calc(1 * var(--color-highlight-chroma)) var(--color-highlight-hue));
  --color-highlight-dark: oklch(40% calc(1 * var(--color-highlight-chroma)) var(--color-highlight-hue));
  --color-highlight-darker: oklch(25% calc(1 * var(--color-highlight-chroma)) var(--color-highlight-hue));}

.primary {
    color: var(--color-primary);
}

.primary-lighter {
    color: var(--color-primary-lighter);
}

.primary-light {
    color: var(--color-primary-light);
}

.primary-dark {
    color: var(--color-primary-dark);
}

.primary-darker {
    color: var(--color-primary-darker);
}

.bg-primary {
    background-color: var(--color-primary);
}

.bg-primary-lighter {
    background-color: var(--color-primary-lighter);
}

.bg-primary-light {
    background-color: var(--color-primary-light);
}

.bg-primary-dark {
    background-color: var(--color-primary-dark);
}

.bg-primary-darker {
    background-color: var(--color-primary-darker);
}

/* Secondary */

.secondary {
    color: var(--color-secondary);
}

.secondary-lighter {
    color: var(--color-secondary-lighter);
}

.secondary-light {
    color: var(--color-secondary-light);
}

.secondary-dark {
    color: var(--color-secondary-dark);
}

.secondary-darker {
    color: var(--color-secondary-darker);
}

.bg-secondary {
    background-color: var(--color-secondary);
}

.bg-secondary-lighter {
    background-color: var(--color-secondary-lighter);
}

.bg-secondary-light {
    background-color: var(--color-secondary-light);
}

.bg-secondary-dark {
    background-color: var(--color-secondary-dark);
}

.bg-secondary-darker {
    background-color: var(--color-secondary-darker);
}

/* Alert */

.alert {
    color: var(--color-alert);
}

.alert-lighter {
    color: var(--color-alert-lighter);
}

.alert-light {
    color: var(--color-alert-light);
}

.alert-dark {
    color: var(--color-alert-dark);
}

.alert-darker {
    color: var(--color-alert-darker);
}

.bg-alert {
    background-color: var(--color-alert);
}

.bg-alert-lighter {
    background-color: var(--color-alert-lighter);
}

.bg-alert-light {
    background-color: var(--color-alert-light);
}

.bg-alert-dark {
    background-color: var(--color-alert-dark);
}

.bg-alert-darker {
    background-color: var(--color-alert-darker);
}

/* Highlight */

.highlight {
    color: var(--color-highlight);
}

.highlight-lighter {
    color: var(--color-highlight-lighter);
}

.highlight-light {
    color: var(--color-highlight-light);
}

.highlight-dark {
    color: var(--color-highlight-dark);
}

.highlight-darker {
    color: var(--color-highlight-darker);
}

.bg-highlight {
    background-color: var(--color-highlight);
}

.bg-highlight-lighter {
    background-color: var(--color-highlight-lighter);
}

.bg-highlight-light {
    background-color: var(--color-highlight-light);
}

.bg-highlight-dark {
    background-color: var(--color-highlight-dark);
}

.bg-highlight-darker {
    background-color: var(--color-highlight-darker);
}


.dark-mode {
    --color-primary: #FFFFFF;
    --color-background: #262626;
    --color-accent: purple;
    --color-highlight: cyan;
    --color-alert: orange;
}

.bg-primary {
    background-color: var(--color-primary);
}

.bg-background {
    background-color: var(--color-background);
}

.bg-accent {
    background-color: var(--color-accent);
}

.bg-highlight {
    background-color: var(--color-highlight);
}

.bg-alert {
    background-color: var(--color-alert);
}

.background {
    color: var(--color-background);
}

.accent {
    color: var(--color-accent);
}

.highlight {
    color: var(--color-highlight);
}

.alert {
    color: var(--color-alert);
}

/* Couleurs du PFF 
:root{--color-primary: #000000;--color-secondary: #360086;--color-accent: #FE6D01;--color-highlight: #FFFFFF}
*/
/*

What I need for colors
Expressing in a semantic way

primary
background
accent
highlight
*/