
:root {

    --size-base: 1rem;
    --size-0: clamp(var(--size-base), calc(var(--size-base) + 0.3vw), calc( var(--size-base) * 1.8 ));
    --size-1: clamp(calc( 2 * var(--size-base) ), calc(2 * var(--size-base) + 10vw), calc( var(--size-base) * 3.5 ));
    --size-2: clamp(calc( 1.6 * var(--size-base) ), calc(1.6 * var(--size-base) + 3vw), calc( var(--size-base) * 2.5 ));
    --size-3: clamp(calc( 1.3 * var(--size-base) ), calc(1.3 * var(--size-base) + 1vw), calc( var(--size-base) * 2.4 ));
    --size-4: clamp(calc( 1.1 * var(--size-base) ), calc(1.1 * var(--size-base) + 0.8vw), calc( var(--size-base) * 1.8 ));
    --size-5: clamp(calc( 1 * var(--size-base) ), calc(1 * var(--size-base) + 0.5vw), calc( var(--size-base) * 1.4 ));
    --size-6: clamp(calc( 1 * var(--size-base) ), calc(1 * var(--size-base) + 0.1vw), calc( var(--size-base) * 1.2 ));
}

:root {
     --space-base: 1rem;
     --space-md: 1.4rem;
     --space-lg: 3rem;
     --space-xl: 4rem;
     --space-xxl: 7rem;

     --gap: var(--space-base);
}

