header, article-meta, article-tags, article-footer, elt-data, elt-template, elt-post, post-link {
    display: block;
}

ul#all-posts {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul#all-posts li {
    padding: 0;
    margin: 0;
}

/* Navigation */ 

nav a:nth-child(2) {
    margin-left: auto;
}

nav a {
    margin-right: var(--gap)
}

/* End Navigation */ 

