@page {
    margin: 10mm;

    @bottom-right {
        content: "test";
    }
}


print-header, print-footer {
    display: none;
}


@media print {

    print-header, print-footer {
        display: block;
    }

    
      
    body {
        counter-reset: page;
    }
    

    p, a, h1, h2, h3, span, li {
        color: black;
    }

    h2, h3, h4, img {
        page-break-after: avoid;
        page-break-inside: avoid;
    }

    h2 + p, h3 + p {
        page-break-before: avoid;
    }

    img {
        filter: grayscale(1);
    }

    main {
        width: 100%;
        padding: 0;
        margin: 0;
        max-width: none; 
    }

    post-footer {
        display: none;
    }

    print-footer {
        margin-top: 5mm;
        border-top: 0.1mm solid black;
        display: block;
    }

    elt-category {
        background-color: lightgray;
    }

    elt-category span {
        color: black;
    }

    body {
        background-color: white;
        color: black;
    }

    header {
      display: none !important;
    }

    print-head {
    }

    print-head h1 {
        font-size: 1rem;
        margin: 0;
    }

    print-head h2 {
        font-size: 1rem;
        margin: 0;
        text-transform: lowercase;
    }
    
  }