/* Text between slashes and asterisks like this
is treated as a comment rather than code to be executed. */

/**********/
/* COLORS */
/**********/

/*
By default olors are not hardcoded, they are accessed through variables.
The easiest way to modify the color scheme of your blog is to overwrite the color variables.

--color-background is used for the site background
--color-primary is used for the text and main UI elements
--color-secondary is used for unactive links
--color-alert is used for hovered links
--color-highlight is used for highlighted text

The documentation below shows how to implement a simple and advanced color scheme
*/

/* 
Simple color scheme, just uncomment group below and assign the desired values tto the variables
*/

/*
:root {
  --color-background: beige;
  --color-primary: blue;
  --color-secondary: orange;
  --color-alert: black;
  --color-hightlight: green;
/*
  
/* Keep this to overwrite color variants*/

/*
:root{
  --color-highlight-lighter: var(--color-hightlight);
  --color-primary-lighter-dm-2: var(--color-primary);
  --color-primary-lighter: var(--color-primary);
  --color-primary-darker: var(--color-primary);
}
*/

/* Advanced color scheme */

/* OBR default color setup uses OKLCH color, and generates a series of color variants for each base color.
Each base color is defined by its chroma and hue, for example

/* Pimary Definition */  
/* --color-primary-chroma: 0.0345;
--color-primary-hue: 260; */

/* Secondary Definition */
/* --color-secondary-chroma: 0.194;
--color-secondary-hue: 31; */

/* For each base color OBR defines a series of variants

--color-primary is defined with --color-primary-chroma and --color-primary-hue

OBR also defines the following variants

--color-primary-lighter
--color-primary-light
--color-primary-dark
--color-primary-darker

To find chroma and hue values for a specific color use e.g. https://colorpicker.dev/ */

/* If you wish to edit any of the parameters set in :root, 
uncomment this group. /*


/**********/
/*  FONT  */
/**********/

/* By default OBR uses font stacks based on system fonts. This to minimize loading speeds. 

The font stacks are defined in two variables
--sans-stack: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
--serif-stack: 'Charter', 'Bitstream Charter', Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif; */

/* A simple way to chose a font stack/combinations of stacks is to setup the STYLE variable in blog-config.yaml

STYLE: 'sans' everything in --sans-stack, default setting
STYLE: 'serif' everything in --serif-stack, 
STYLE: 'serif-and-sans' body text in --serif-stack, headings in -sans-stack
STYLE: 'sans-and-serif' body text in --sans-stack, headings in -serif-stack

/* If you want to use different fonts, you can change these font stacks
They are given in order of preference, with later fonts being fallbacks
if the first is unavailable.

If you wish to use another font, the recommended option is to import from
Fontsource.

1. If you're using npm as a package manager
First install the font package
    npm install @fontsource/name-of-my-font
Add the line 
    import '@fontsource/name-of-my-font';
at the start of the 'src/layouts/baselayout.astro' file and add it
to the beginning of the font stack you wish to add it to.
(Replace the font name with the font you wish to use. You can search
available options on https://fontsource.org)

2. If you're not using npm as a package manager
Head to fontsource font page, and copy the CSS code the CDN tab, for example

For the font Gloria Hallelujah

in the CDN you'll find https://fontsource.org/fonts/gloria-hallelujah/cdn
*/

/*
@font-face {
  font-family: 'Gloria Hallelujah';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/gloria-hallelujah@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/gloria-hallelujah@latest/latin-400-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}
  */

/*
Add it to your sytles (uncomment it in this file) and add it to the desired stack, for example
*/

/*
:root {
  --sans-stack: 'Gloria Hallelujah', system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
*/



/* If you want to overwrite any other style elements, copy the relevant 
code from the default file and insert below with the parts you
wish to change. As an example, the horizontal lines between a post
and the footer is set with the hr element: */

/* hr {
    height: 1px;
    color: var(--color-primary-lighter);
    background: var(--color-primary-lighter);
    font-size: 0;
    border: 0;
} */