---
import { sanitizeString } from 'public/js/util/util';
import BaseLayout from '../../layouts/baselayout.astro';
import AllPosts from 'src/components/posts.astro';

import { getCollection } from "astro:content";


export async function getStaticPaths() {

const posts = await getCollection("posts");

const allTags = Array.from( new Set(posts.flatMap( element => element.data.tags )));

const allTagPages = allTags.map( tags => {
  return {
    params: { sanitizedTags: sanitizeString(tags) }, props: { originalTags: tags } 
  }
} );

return allTagPages;

}

const { originalTags } = Astro.props;
const { sanitizedTags } = Astro.params;


const queryFilters = {
  tags: originalTags,
  posts: ''

}
---
<BaseLayout title=`Posts tagged with: ${originalTags}` description=`Posts tagged with: ${originalTags}`>
  <h1>Posts tagged with: {originalTags}</h1>
  <AllPosts queryFilters = {queryFilters} />
</BaseLayout>