---
import BaseLayout from "../layouts/baselayout.astro";
import BlogrollFeed from "src/components/blogroll/blogroll-feed.astro";

---

<BaseLayout>
  <h1>Blogroll</h1>
  <p>The BlogrollFeed component takes as parameter an array of RSS urls</p>
  <BlogrollFeed category='blogs' />
</BaseLayout>