---
import BaseLayout from "../layouts/baselayout.astro";
import AllPosts from "../components/posts.astro";

import { CONFIG } from "@config";


import Home from "../data/home.mdx"
---

<BaseLayout>
  <h1>{CONFIG.TITLE}</h1>
  <Home />
    <AllPosts nbPosts={CONFIG.HOME_NB_POSTS} hasCover={CONFIG.POST_COVER}/>
</BaseLayout>
