---
import BaseLayout from "../layouts/baselayout.astro";
import QueryPosts from "@posts/query-posts.astro";

import { CONFIG } from "@config";

import Home from "../data/home.mdx"
---

<BaseLayout>
  <h1>{CONFIG.TITLE}</h1>
  <Home />
    <QueryPosts nbPosts={CONFIG.HOME_NB_POSTS} hasCover={CONFIG.POST_COVER} sectionHeaderContentClass="duo-lg"/>
</BaseLayout>
