---
const { page } = Astro.props;

import { sanitizeUrl } from '../js/sanitizeUrl';

---
{page.url.first ? <a href={sanitizeUrl(page.url.first)} class="mr-base">First</a> : null}
{page.url.prev ? <a href={sanitizeUrl(page.url.prev)} class="mr-base">Previous</a> : null}
{page.url.next ? <a href={sanitizeUrl(page.url.next)} class="mr-base">Next</a> : null}
{page.url.last ? <a href={sanitizeUrl(page.url.last)} class="mr-base">Last</a> : null}