---
import { sanitizeString } from "public/js/util/util";
const { allPostTags = [] } = Astro.props;
---
<nav aria-label="Tags">
    {allPostTags.sort().map((cat) => (
        <span>
            <a class="mr-tiny" href={`${import.meta.env.BASE_URL}tags/${sanitizeString(cat)}`}>{cat}</a>
        </span>
      
    ))}
</nav>