---
import "../styles/____reset.css";
import "../styles/___colors.css";
import "../styles/___fonts.css";
import "../styles/___vars.css";
import "../styles/__typography.css";
import "../styles/__utilities.css";
import "../styles/_blocks.css";

import "../styles/print.css";

import "../styles/global.css";

import "../styles/user-styles.css";


import Head from "../components/head.astro";

import Header from "../components/header.astro"
import Footer from "src/components/footer.astro";

import { CONFIG } from "@config";

const { frontmatter } = Astro.props;

const props = frontmatter || Astro.props;

const { title = "", description = ""} = props;
---
<html lang={CONFIG.LANG}>
<Head title={title} description={description} />
<body class={CONFIG.STYLE}>
    <print-header aria-hidden="true">
      <!-- Caution do not repeat h1, etc -->
    </print-header>
    <Header />
    <main class="container-lg centered pw-base">
        <slot />
    </main>
    <Footer />
</body>
</html>
