---
import Baselayout from "./baselayout.astro"

const { frontmatter } = Astro.props;

const props = frontmatter || Astro.props;

const { title = "", description = ""} = props;
---
<Baselayout title={title} description={description} >
    <h1>{title}</h1>
    <h2>{description}</h2> 
    <slot />
</Baselayout>

